.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.map {
  height: calc(100vh - 64px);
}

div[role="navigation"] {
  display: none;
}

#prefix__hissiviiva {
  stroke: #a6ff0075;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc-timegrid-event {
  cursor: pointer!important;
}

.tippy-box[data-theme~='calendar'] {
  background-color: #3788d8;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .fc-toolbar-title {
    font-size: 1.5rem!important;
  }
}

@media only screen and (max-width: 550px) {
  .fc-toolbar-title {
    font-size: 0.9rem!important;
  }

  .fc-button {
    padding: 0!important;
    line-height: 0!important;
  }
}