.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-image-layer,
.leaflet-pane > svg path,
.leaflet-tile-container {
  pointer-events: auto !important;
}

svg:focus {
  outline: none;
}

g {
  cursor: default;
}

/* Stairs/elevators */
.cls-1 {
  fill: #ec008c;
  stroke-width: 8px !important;
  stroke: rgb(0, 0, 0);
}

/* Hallways */
.cls-2 {
  stroke: rgb(127, 127, 127);
  fill: #ffffff;
}

/*Toilets/dressing rooms*/
.cls-3 {
  stroke-width: 8px !important;
  stroke: rgb(0, 0, 0);
  fill: #ffc60b;
}

/* Unauthorized places */
.cls-4 {
  stroke-width: 8px !important;
  stroke: rgb(0, 0, 0);
  fill: #7f7f7f;
}

/* Classes */
.cls-5 {
  stroke-width: 8px !important;
  stroke: rgb(0, 0, 0);
  fill: rgb(0, 174, 239);
}
.navbar {
  z-index: 1000;
}

.colorCode {
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.25rem;
  z-index: 400;
  pointer-events: none;
}

/* Lines */
.cls-6 {
  stroke: #ff0000 !important;
  stroke-width: 14px !important;
  stroke-linecap: round !important;
}

/* Walls */
.cls-7 {
  stroke-width: 8px !important;
  stroke: #000000;
  fill: none;
}

/* Doors */
.cls-8 {
  stroke: #f55 !important;
  stroke-width: 10px !important;
}

.cls-9 {
  stroke-width: 12px !important;
}
.cls-10 {
  visibility: hidden;
}

/*
 {
 ".cls-1,.cls-6{fill:#ec008c}" +
 ".cls-1,.cls-2,.cls-3,.cls-4{stroke:#000}" +
 ".cls-1,.cls-2,.cls-3,.cls-4,.cls-5{stroke-miterlimit:10}" +
 ".cls-1,.cls-2,.cls-3,.cls-4,.cls-5{stroke-width:3px}" +
 ".cls-2,.cls-7{fill:none}" +
 ".cls-3{fill:#ffc60b}" +
 ".cls-4,.cls-5{fill:#7f7f7f}" +
 ".cls-5{stroke:#200}"
 //".cls-6{fill:#fff;stroke:#f55;stroke-width:4px}" +
 //".cls-6{stroke:#ee2d2b; fill:#ee2d2b}"
 }

*/

.leaflet-container {
  background: rgb(255, 255, 255);
}

div[role="navigation"] {
  display: none;
}

#prefix__hissiviiva {
  stroke: #a6ff0075;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc-timegrid-event {
  cursor: pointer !important;
}

.tippy-box[data-theme~="calendar"] {
  background-color: #3788d8;
  color: white;
}

.css-1235hhr-MuiButtonBase-root-MuiIconButton-root {
  padding: 8px 8px 1px 8px !important;
}

@media only screen and (max-width: 1200px) {
  .fc-toolbar-title {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 550px) {
  .fc-toolbar-title {
    font-size: 0.9rem !important;
  }

  .fc-button {
    padding: 0 !important;
    line-height: 0 !important;
  }
}
